<link href="./src/components/rating/rating.css" type="text/css" rel="stylesheet">
<div style="margin-top: 20%;margin-left: 40%;">
    <div>Rate Himanshu</div><br>
    <div style="display: flex;padding-left: 1%">
        <span onclick="rate(1);" class="fa fa-star checked s1"></span>
        <span onclick="rate(1);" class="fa fa-star checked s2"></span>
        <span onclick="rate(1);" class="fa fa-star checked s3"></span>
        <span onclick="rate(1);" class="fa fa-star checked s4"></span>
        <span onclick="rate(1);" class="fa fa-star checked s5"></span>
    </div> 
</div>