<div style="margin-top: 5%">
    <h3>&nbsp;&nbsp;please fill below details</h3>
<form name="postjob">
    <table cellpadding=10 style="margin-top: 5%;margin-left: 5%">
        <tr>
            <td>
                Job title - 
            </td>
            <td>
                <input name="name" id="jname">
            </td>
            <td>
                Budget - 
            </td>
            <td>
                <input name="budget" id="jbudget">
            </td>
        </tr>
        <tr>
            <td>
                Job Description - 
            </td>
            <td>
                <textarea rows="3" cols="32" name="description" id="jdescription"></textarea>
            </td>
            <td>
                Category - 
            </td>
            <td>
                <input type="text" name="category" id="jcategory">
</form>
            </td>
        </tr>
        <tr>
        <td colspan="4" style="text-align: right">
            <a class="btn btn-outline-primary" onclick="postj();">  Post  </a>
        </td>
        </tr>
    </table>
</div>