<link href="./src/components/feedback/feedback.css" type="text/css" rel="stylesheet">
<div style="margin-top: 5%">
    <h3>&nbsp;&nbsp;please fill below details</h3>
<form name="feedback">
    <table cellpadding=10 style="margin-top: 5%;margin-left: 5%">
        <tr>
            <td>
                Description - 
            </td>
            <td>
                <textarea rows="3" cols="32" name="description" id="jdescription"></textarea>
            </td>
            </form>
        </tr>
        <tr>
        <td colspan="4" style="text-align: right">
            <a class="btn btn-outline-primary" onclick="feedback1();">  Submit  </a>
        </td>
        </tr>
    </table>
</div>